* {
  box-sizing: border-box;
}

body {
display: grid;
flex-direction: row;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
grid-template-rows: 1fr 2fr 2fr 1fr 1fr 1fr 1fr;
height: 100vh;
width: 80vh;
font-size: 20px;
background-image: url("../spaceman/18973676_893u_0m0s_210802.jpg");
background-size: cover;
background-repeat: no-repeat;
margin: auto;
}

img {
  display: grid;
  justify-content: center;
  grid-column: 2 / 5;
  grid-row: 2 / 4;
  height: 100%;
  width: 100%;
}

h2 {
  color: aliceblue;
  align-content: center;
  text-align: center;
  grid-column: 3;
  grid-row: 1;
  height: 100%;
  width: 100%;
}

#guessed-word {
display: grid;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: row;
padding: 1vh;
grid-column: 3;
grid-row: 4;
letter-spacing: 5vmin;
font-size: 10vmin;
color: aquamarine;
}

main {
    display: grid;
    flex-direction: row;
    grid-column: 1 / 6;
    grid-row: 5;
    grid-template-columns: 1fr;  
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    height: 100%;
}

footer {
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr;  
  grid-template-rows: 1fr;
  grid-column: 3;
  grid-row: 6;
  font-size: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.badGuess {
  background-color: lightcoral;
}

.goodGuess {
  background-color: lightgreen;
}

.row1btn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;  
  grid-template-rows: 1fr;
  grid-column: 1;
  grid-row: 1;
  height: 5vh;
  padding: .1vh;
}

.row2btn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;  
  grid-template-rows: 1fr;
  grid-column: 1;
  grid-row: 2;
  height: 5vh;
  padding: .1vh;
}

.row3btn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;  
  grid-template-rows: 1fr;
  grid-column: 1;
  grid-row: 3;
  height: 5vh;
  padding: .1vh;
}

